@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        width: 100%;
    }

    #root {
        width: 90rem;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;

    }
}